{% extends 'base.html' %} {% block title %} About{% endblock title %} {% block body %}
<center>
    <h1><strong>About Us</strong></h1><br />
    <h2> Todo's Task </h2>
    <p>This site belongs to <a href="mailto:tanmay.e.mahale@gmail.com">Mr.Tanmay Eknath Mahale</a>.<br /> If you have any query regrading Site, Advertisement and any other issue, please feel free to contact at <a href="mailto:xlentclass@gmail.com">Xlent Academy</a>
    </p>
    <p>Here you can add your tasks here which you forget!</p>
    <p>We will help you to remind your tasks.</p>
</center>
{% endblock body %}